/*код на начальных занятиях*/
img{
    width: 200px; 
    /* задать расстояния по порядку сторон по часовой стрелке, начиная сверху */
    margin: 10px 100px 10px 550px;

}
span{
    font-size: 15px;
}
.name {
    color: red;
}
#skill {
    color: green;
}
h1 {
    /* рамка вокруг "Анкета" */
    /* border: 3px solid gray; */
    /* отступ внутри рамки */
    padding: 0px;
    /* отступы с внешней строны рамки */
    margin: 30px;
    /* выравнивание текста */
    text-align: center;
    /* высота линий */
    /* https://youtu.be/_p4YM2VykZg?t=4477 */
    /* line-height: 40px; */
}
h2 {
    text-align: center;
}

/* Про импорт шрифтов */
/* https://youtu.be/A-5mX6OrXXc?t=4656 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Чистим отступы у всех элементов, которые стоят по умолчанию */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: lightgray;
    height: 50px;
}

nav {
    /* border: 3px dotted black; */
    /* width: 50%; 30px; max-content; min-content */
    height: inherit; /* 50px */
    display: flex; /* позиционирования с помощью flex-боксов*/
    /* justify-content: space-evenly; распределение в пространстве space-around; space-between */
    justify-content: start;
    align-items: center;
}

nav > a { /*обращаемся ко всем тегам 'a'*/
    text-decoration: none; /*обнуляем всю декорацию*/
    color:black;
    font-size: 20px;
    padding: 0 30px;
}

.about_us {
    display: flex; /*flex выстраивает элементы в строку*/
    /* flex-direction: row-reverse; */
    justify-content: center;
    
}

/* https://youtu.be/99usWMRtjlo?t=4675 */
/* https://youtu.be/A-5mX6OrXXc?t=4850 */
.about_us img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

/* https://youtu.be/A-5mX6OrXXc?t=4486 */
.about_us-discription {
    display: flex;
    flex-direction: column;

}
.about_us-discription * {
    padding: 5px;
}

/* https://youtu.be/KHLFTTA4KFc?t=4704 */
/* https://youtu.be/A-5mX6OrXXc?t=4946 */
.my_game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
.my_game > * {
    text-align: center;
}
.my_game input, .my_game button {
    border: none;
    margin: 5px;
    min-height: 30px;
}
.my_game button {
    width: max-content;
    background-color:cadetblue;
    padding: 0 10px;
    border-radius: 5px;
}
.my_game input{
    background-color: lightgray;
    outline: none;
}

.my_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* https://youtu.be/hTlQd-gme8M?t=1143 */
/* Блок выбора элементов */
.choosed_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;
}

.choosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}
.choosed_element {
    border: 3px solid black;
}

/* https://youtu.be/kZ-xLBjQTJM?t=2752 */
.posts_block {
    max-width: 600px;
    margin: 20px auto;
}
.posts_block h2 {
    text-align: center;
}
.posts_block-container > * {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}